* {
  margin: 0;
  padding: 0;
}

html {
  background: var(--sl-color-primary-200);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background: var(--sl-color-primary-200);
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 20px;
  padding-top: 15px;
}

sl-card {
  width: 50%;
  min-width: 200px;
  max-width: 400px;
}

.center-text {
  text-align: center;
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
